<!--FOOTER -->
<footer class="au-footer au-footer--dark au-body au-body--dark" role="contentinfo">
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-12" aria-label="footer">
        <ul class="au-link-list au-link-list--inline">
          {% for action in site.footer.nav_links %}
          <li>
            {% include action.html action=action %}
          </li>
          {% endfor %}
        </ul>
      </nav>
      {% assign content_is_not_empty = site.footer.content | is_not_empty %}
      {% if content_is_not_empty %}
      <section class="col-sm-12">
        <div class="au-footer__end">
          <p>
            {{ site.footer.content }}
          </p>
        </div>
      </section>
      {% endif %}
    </div>
  </div>
</footer>


